<!doctype html>
<html>
<head>
  
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">HOME</a></li>
        <li><a href="officers">OFFICERS</a></li>
        <li><%= link_to "IDEAS", ideas_path %></li>
        <li><%= link_to "PLANS", plans_path %></li>
        <li><a class="line">|</a></li>
        <% if current_user %>
        <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "SIGN UP", new_user_registration_path %></li>
        <li><%= link_to "LOG IN", new_user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="banner">
    <h1 class="banner-header">SGA Class of 2020</h1>
    <h3 class="banner-officers">President Qian</h3>
    <h3 class="banner-officers">Vice President Namburu</h3>
    <h3 class="banner-officers">Secretary Chen</h3>
    <%= link_to new_idea_path do %>
  <div class="btn btn-primary btn-lg submit">SUBMIT IDEA</div>
  <% end %>
</div>
<div class="body">
<h1 class="top">Find us on social media!</h1>
<h4 class="text">Snapchat: @classof2020sga<br>
Twitter: @classof2020_sga<br>
​Email: classof2020sga@gmail.com</h4><br>
<hr>
<h1 class="title">Representing <strong>You</strong></h1><br>
<h4 class="text">We're here to represent you,<br> the students, and to give you a<br> voice in our Class events. </h4><br>
<h4 class="text">Read about our exciting new <br>Operation Voice on the 'Our Plans'<br> page above!</h4><br>
<hr><br>
<h1 class="top">TOP IDEAS</h1>
  <% @ideas.each do |idea| %>

  <h1 class="title"><%= idea.title %></h1><br>
  <h4 class="subtitle">by: <%= idea.firstname %> <%= idea.lastname %></h4><br><br><br>
  <%= link_to idea_path(idea) do %>
  <div class="btn btn-primary more">MORE INFO</div>
    <% end %>
    <div class="btn-group">
    <%= link_to like_idea_path(idea), method: :put, remote: true do %>
    <div class="btn btn-primary up" type="button">
  <i class="fa fa-thumbs-o-up fa-lg"></i> <span class="badge upbadge_<%= idea.id %>"><%= idea.get_upvotes.size %></span>
</div>
<% end %>
<%= link_to dislike_idea_path(idea), method: :put, remote: true do %>
    <div class="btn btn-primary down" type="button">
  <i class="fa fa-thumbs-o-down fa-lg"></i> <span class="badge downbadge_<%= idea.id %>"><%= idea.get_downvotes.size %></span>
</div>
<% end %>
</div>  <br><br><br><br><br>
  <hr style="width: 40%;">
  <% end %>
</div>
<style type="text/css">
  .banner {
    background: url("https://i.imgur.com/kwOot1a.jpg");
    width: 100%;
    height:650px;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .badge {
    color:#f36b21 !important;
  }
  .trash {
    color: #666;
  }
  .trash:hover{
    color:red;
  }
  .banner-header {
    color: white;
    font-size: 66px;
    font-family: Oswald;
    text-align: center;
    position: relative;
    top: 40%;
    margin-top: -26px;
  }
  .banner-officers {
    color:white;
    display: block;
    font-family: Raleway;
    position: relative;
    top: 40%;
    text-align: center;

  }
      @media screen and (min-width: 474px) {
  .submit{
      top: 77% !important;
  margin-top: -35.42px !important;
  }
}
  .btn-primary {
position: absolute;
  margin-top: -40.94px;
  border-radius: 10px;
  font-family: Open Sans;
  background-color: #f36b21;
  border-color:#f36b21;

}
.submit{
    left: 50%;
  margin-left: -72.045px;
  top: 89%;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #e1601a;
  border-color: #e1601a;
}
.btn-primary:hover {
  color: #fff;
  background-color:#e1601a;
  border-color: #e1601a;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #e1601a;
  border-color: #e1601a;
}
.up {
  border-radius: 5px !important;
}
.btn-group {
  position: relative;
  left: 49.2%;
  margin-left: -66.015px;
  top:40px;
}
.down {
  left: 73px;
  border-radius: 5px !important;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: #e1601a;
  border-color: #e1601a;
}
  .navbar-inverse {
    opacity: .5;
    border-radius: 0px;
    z-index: 100;
  }
    .navbar-nav {
    float: right;
    font-family: Oswald;
  }
.more {
  margin-left: -55.75px;
  left: 50%;
}
  .body {
    position: absolute;
    top: 700px;
    width: 100%;
    height: 500px;
  }
  .title {
    position: relative;
    text-align: center;
    font-family: Roboto;
    font-weight: 100;
    font-size: 50px;
    top: 20px;
    margin-top: 0px;
    color: #666;
  }
  .text {
    position: relative;
    text-align: center;
    font-weight: 100;
    font-family: Raleway;
    font-size: 40px;
    color: #666;
    display: block;
  }
  .top {
    position: absolute;
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    font-size: 60px;
    margin-top: 0px;
    color: #666;
  }
      .subtitle {
    position: relative;
    text-align: center;
    font-family: Oswald;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 25px;
    color: #666;
  }
  hr {
    width: 90%;
  }
</style>
<script type="text/javascript">
  $(document).ready(function(){
    $(".1,.2,.3,.submit").hide(0)
    $(".banner-header,.banner-officers,.submit").hide(0).delay(200).fadeIn(900);
  });
</script>
</body>
</html>
