<p id="notice"><%= notice %></p>

<p>
  <strong>Objective:</strong>
  <%= @objective.objective %>
</p>

<p>
  <strong>Plan:</strong>
  <%= @objective.plan %>
</p>

<%= link_to 'Edit', edit_objective_path(@objective) %> |
<%= link_to 'Back', objectives_path %>
