<%= form_for(@plan) do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<%= f.fields_for :objectives do |objective_form| %>
  <%= objective_form.label :body %><br>
  <%= objective_form.text_field :body %><br>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
