<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>

<p>
  <strong>Complete:</strong>
  <%= @plan.complete %>
</p>

<p>
  <strong>Up next:</strong>
  <%= @plan.up_next %>
</p>

<p>
  <strong>In action:</strong>
  <%= @plan.in_action %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
